.Investor {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Reddit Sans", sans-serif;
  h2 {
     color: #006666;
     font-size: 36px;
  }
  .chart {
    width: 60%;
    height: 450px;
  }
}
