.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: hsl(157, 7%, 76%);
  font-family: "Reddit Sans";
  .title {
    text-align: center;
    margin-top: 150px;

    h1 {
      font-size: 100px;
      color: #006666;
      margin-bottom: 10px;
    }

    p {
      font-size: 40px;
      color: #499fa4;
      margin-top: 0;

      span {
        background-color: #e9bc8b;
        padding: 0.6rem 1rem;
        border-radius: 0.5rem;
        color: #3d4a55;
        font-style: italic;
        font-weight: 700;
      }
    }

    .get-started {
      margin-top: 40px;
      padding: 15px 40px;
      background-color: #006666;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #008080;
        transform: translateY(-3px);
      }
    }
  }
}
