.home {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #bec6c3;
  font-family: "Reddit Sans";
  .title {
    margin-top: 150px;
    h1 {
      font-size: 100px;
      color: #006666;
    }
    p {
      font-size: 50px;
      color: #499fa4;
      span {
        background-color: #e9bc8b;
        padding: 1rem;
        border-radius: 0.5rem;
        color: #3d4a55;
        font-style: italic;
        font-weight: 700;
      }
    }
  }
}
